* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
}

h2 {
	font: bold 14px sans-serif;
}

header,
section,
footer,
aside,
nav,
article,
hgroup {
	display: block;
}

body {
	text-align: center;
}

.agrupar {
	width: 960px;
	border: 1px solid black;
	margin: 15px auto;
}

#main-header {
	background: #fffbb9;
	border: 1px solid #999999;
	padding: 20px;
}

#main-header h1 {
	text-align: left;
}

.menu {
	background: #ccc;
	padding: 5px 15px;
}

.menu li {
	list-style: none;
	/* border: 1px solid black; */
	padding: 5px;
	font: bold 14px verdana;
	display: inline-block;
	margin: 0px 100px;
}

section {
	margin: 20px;
	/* border: 1px solid black; */
	width: 60%;
	float: left;
}

aside {
	width: 30%;
	float: left;
	margin: 20px 0;
	border: 1px solid black;
}

aside blockquote {
	border: 1px dashed black;
	padding: 40px;
	background-color: #fffbcc;
}

article {
	background-color: #fffbcc;
	margin: 15px;
	border: 1px solid #999999;
	padding: 20px;
}

article h1 {
	text-align: left;
}

article time {
	text-align: left;
	color: #999999;
}

article footer {
	text-align: right;
}

img {
	width: 100px;
	margin: 20px auto;
	display: block;
}

#pie {
	clear: both;
	padding: 20px;
	background-color: #999999;
	color: white;
}
