* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #1d2026;
}

header {
	display: flex;
	padding: 20px 10%;
	align-items: center;
}

header > a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 3px;
	width: 20%;
}

a img {
	width: 100%;
}

header nav {
	display: flex;
	flex-grow: 1;
}

header nav ul {
	list-style: none;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

header nav li {
	padding: 0 1%;
}

header nav a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	width: 100%;
}

header button {
	margin: 0 2%;
	cursor: pointer;
	height: 30px;
	width: 60px;
	border-radius: 15px;
	background-color: rgb(124, 124, 124);
}

.active {
	background: rgb(35, 152, 111) !important;
}

header button span#slider {
	display: block;
	appearance: none;
	background-color: rgb(255, 255, 255);
	height: 26px;
	width: 26px;
	border-radius: 50%;
	margin: 2px;
}

span#slider:checked {
	transform: translateX(30px);
}

main {
	display: flex;
}

main .lamp-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	overflow: visible;
}

main .lamp-container .lamp {
	width: 50%;
}
main .lamp-container .light {
	width: 110%;
}

.e {
	display: flex;
}
